<ul>
	<!-- <li>
		<a href="{{ '/about' | prepend: site.url }}">ABOUT</a><span>/</span>
	</li> -->
	<li>
		<a href="{{ '/news' | prepend: site.url}}">News</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/publications' | prepend: site.url }}">Publications</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/projects' | prepend: site.url}}">Projects</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/teaching' | prepend: site.url }}">Teaching</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/honors' | prepend: site.url}}">Awards & Honors</a><span>/</span>
	</li>
</ul>
